name: PR Checks
on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

defaults:
  run:
    shell: bash

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  prepare-working-windows-folder:
    name: prepare-windows-folder
    runs-on: client-sdk-linux-large
    steps:
      - name: create folder
        run: mkdir windows-build-test

  build:
    name: Code
    uses: ./.github/workflows/zxc-build-library.yaml
