name: "ZXC: Build Library"
on:
  workflow_call:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: client-sdk-linux-xlarge

    env:
      HEDERA_NETWORK: localhost
    strategy:
      matrix:
        include:
          - os: Linux
            preset: linux-x64

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          submodules: true

      - name: Run Clang-Format
        uses: jidicula/clang-format-action@c74383674bf5f7c69f60ce562019c1c94bc1421a # v4.13.0
        with:
          clang-format-version: "17"
          check-path: "src"

      - name: Use Node.js 21
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          node-version: 21

      - name: Install Local Node
        run: sudo npm install -g @hashgraph/hedera-local

      - name: Install Linux Prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libc6-dbg libgtest-dev build-essential

      - name: Ensure Binary Cache Path Exists
        run: mkdir -p "${{ github.workspace }}/b/vcpkg_cache"

      - name: Install CMake & Ninja
        uses: lukka/get-cmake@a70f1cfa1857a3eecfe0d34962269e1b1e8be56c # v3.30.2

      - name: Setup VCPkg
        uses: lukka/run-vcpkg@5e0cab206a5ea620130caf672fce3e4a6b5666a1 # v11.5
        with:
          binaryCachePath: ${{ github.workspace }}/b/vcpkg_cache

      - name: Convert VCPkg to Full Clone
        run: |
          cd vcpkg
          git fetch --unshallow --prune

      - name: CMake Build (Debug)
        uses: lukka/run-cmake@2ce8982be71b8e9a3c4d5e432135035afd1e76a7 # v10.7
        env:
          VCPKG_BINARY_SOURCES: clear
        with:
          configurePreset: ${{ matrix.preset }}-debug
          buildPreset: ${{ matrix.preset }}-debug

      - name: CMake Build (Release)
        if: github.event.pull_request.merged == true
        uses: lukka/run-cmake@2ce8982be71b8e9a3c4d5e432135035afd1e76a7 # v10.7
        env:
          VCPKG_BINARY_SOURCES: clear
        with:
          configurePreset: ${{ matrix.preset }}-release
          buildPreset: ${{ matrix.preset }}-release

      # - name: List Directory Structure
      #     if: ${{ contains(runner.os, 'Windows') && always() }}
      #     shell: pwsh
      #     run: tree /F build

      - name: Start the local node
        run: sudo npx @hashgraph/hedera-local start -d --network local --network-tag=0.52.0-alpha.6

      - name: Start CTest suite (Debug)
        run: ctest -C Debug --test-dir build/${{ matrix.preset }}-debug --output-on-failure

      - name: Start CTest suite (Release)
        if: github.event.pull_request.merged == true
        run: ctest -C Debug --test-dir build/${{ matrix.preset }}-release --output-on-failure

      - name: Stop the local node
        run: sudo npx @hashgraph/hedera-local stop

      - name: Compute Short SHA
        id: sha
        run: echo "short=$(echo -n "${{ github.sha }}" | cut -c1-8)" >> $GITHUB_OUTPUT

      - name: Attach Artifact
        if: github.event.pull_request.merged == true
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4.3.6
        with:
          name: hapi-library-${{ runner.os }}-${{ steps.sha.outputs.short }}
          path: package/
          if-no-files-found: warn
